.cajon-b.color-primario:before
  background-color: #DDFDFB
  right: 70%
  bottom: 60%

.cajon.color-primario
  background-color: #E7DEFC  

.BG03
  background-color: #E7DEFC

.BG11
  background-color: #fff
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.BG12
  background-color: #fff
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.BG13
  background-color: #fff

.BGIMG01
  background-image: url("../assets/curso/tema1/img06.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center