.cajon-b:before 
    content: ''
    display: block
    position: absolute
    opacity: .35
    top: 0
    left: 0
    right: 66%
    bottom: 50%

.align-items-end
  display: flex
  align-items: flex-end
  flex-direction: row
.justify-center
  display: flex
  justify-content: center
  flex-direction: row

.linea-tiempo-d__item__content__slot
  @media screen and ( max-width: 420px  )
    margin-top: 1rem

.img200
  max-width: 200px
  

.cajon.color-primario
  background-color: #E7DEFC  

.cajon.color-acento-contenido
  background-color: #FFD8E3

.BG03
  background-color: #E7DEFC

.BG04
  background-color: #FFE9EF

.BG14
  background-color: #E5FFFD
  border-radius: 25px

.BG11
  background-color: #fff
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.BG12
  background-color: #fff
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.BG13
  background-color: #fff

.BGIMG01
  background-color: #fff
  background-image: url("../assets/curso/tema1/img06.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img14.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  background-color: #fff

.BGIMG03
  background-image: url("../assets/curso/tema1/img15.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  background-color: #fff

.BGIMG04
  background-image: url("../assets/curso/tema1/img24.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center   

.BGIMG05
  background-image: url("../assets/curso/tema1/img42.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center   

.BGIMG06
  background-image: url("../assets/curso/temas/imgsint.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center   

.BGIMG07
  background-image: url("../assets/curso/tema1/img05.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center  

.bg_grad-01
  position: relative
  .row, p, .cajon, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 0
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 3rem)
    background-image: url("../assets/curso/tema2/fondo.svg")
    background-repeat: no-repeat 

.tarjetas1
  .tarjeta-slide  
    background-image: url("../assets/curso/tema1/img07.png")

ol.lista-candado
  list-style-image: url("../assets/curso/tema1/img28.png")    

.tarjeta-avatar-b__img
  min-width: 11%
  max-width: 11%
  @media screen and ( max-width: 420px  )
    min-width: 34%
    max-width: 34%
    align-items: start

.tarjeta-avatar-b .tarjeta
  height: 98px
  @media screen and ( max-width: 420px  )
    height: 100%
    margin-left: -14%

.bloque-texto-g__texto
  width: 70%
  @media screen and ( max-width: 420px  )
    width: 100%
    
.bloque-texto-g__texto 
  right: 50px
  @media (max-width: 420px) 
    right: 0

.mtN01
  margin-top: -100px

.mtO01
  margin-top: 80px

.br01
  border-radius: 16px

.bgr
  background-color: #D2B7FF
  border-radius: 20px

.info1
  .img-infografica__item__dot:before
    background-color: transparent !important
  .tarjeta    
    background-color: #F6F6F6
.banner-interno__fondo
  background-image: url("../assets/curso/portada/interno.svg") !important
  background-repeat: no-repeat
  background-color: #FFC664 !important


.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #5C379B

.slyder-a__bullets__item--active
  background-color: #5C379B

.slyder-a__bullets__item
  background-color: #ACB9C4

.tarjeta.tarjeta--azul.acordion__activo
  background-color: #F2F8FF
.tarjeta--azul 
  background-color: #ffffff


.w-50
  width: 63% !important

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #5C379B !important
      color: white
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #E7DEFC

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #F6F6F6
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #F6F6F6 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #F6F6F6


.linea-tiempo-d__item__content__title
  font-size: 20px !important
  @media screen and ( max-width: 420px  )
    font-size: 16px !important   
.linea-tiempo-d__item__number
  font-size: 24px !important
  @media screen and ( max-width: 420px  )
    font-size: 16px !important 
